<div class="bg-black h-screen w-9/12">
    <h1 *ngIf="user">Hello, {{user.display_name}}!</h1>

    <!-- <p *ngIf="user">{{user.email}}</p> -->
    <!-- <p>{{token}}</p> -->
    <!-- <div +ngIf="user" *ngFor="let el from user">{{user.name}}</div> -->

    <section>
        <div class="btn p-3 mx-2 my-2 rounded-md w-10/12" *ngFor="let artist of artists" [routerLink]="['/detail/'+artist.id]">
            <p>{{artist.name}}</p>
            <img *ngIf="artist.image" src={{artist.image.url}}> 
            <p *ngIf="!artist.image">Image not available</p>
        </div>
    </section>
</div>
